name: Camke build check

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Asia/Shanghai"
          timezoneMacos: "Asia/Shanghai"
          timezoneWindows: "China Standard Time"
      - uses: actions/checkout@v4
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: make -j4
        working-directory: build
      - name: make install
        run: make install
        working-directory: build
